/* Color Palette 
Very Dark Blue: #0B0C10
Grey Navy Blue: #1F2833 
Light Grey: #C5C6C7
Turquoise: #66FCF1
Muted Turquoise: #45A29E  */

body {
  height: 100%;
  background-color: black;
}

header {
  border-bottom: 1px solid rgb(58, 58, 60);
}
.title {
   color: gainsboro;
   font-size: 2.5rem;
   font-weight: bold;
   margin: 0.4rem 0 0.4rem 0;
   text-align: center;
 }

 .menu-left {
   display: flex;
   margin: 0;
   padding: 0;
   align-items: center;
   width: auto;
   justify-content: flex-start;
   color: gainsboro;
   font-size: 1.5rem;
   margin: 5px;
 }
 .menu-right {
   display: flex;
   width: auto;
   justify-content: flex-end;
   align-items: center;
   font-size: 1.5rem;
   margin: 5px;
   color: gainsboro;
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    background-color: rgb(250, 186, 223);
    color: black;
    padding: 3px;
    border-radius: 5px;
 }

#container {
  display: flex;
  background-color: black;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#game {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

#keyboard-container {
  height: 200px;
}
.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}
.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  background-color: rgb(129, 131, 132);
  color: rgb(215. 218, 220);
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
  transition: 350ms;
  width: 20px;
}

.keyboard-row button:hover {
  background-color: rgb(250, 186, 223);
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}


/* footer Styling */
footer {
  background-color: black;
  color: gainsboro;
  display: flex;
  justify-content: center;
  margin: 20px;
}