/* Color Palette 
Very Dark Blue: #0B0C10
Grey Navy Blue: #1F2833 
Light Grey: #C5C6C7
Turquoise: #66FCF1
Muted Turquoise: #45A29E  */

body {
  height: 100%;
  background-color: #0B0C10;
  color: #C5C6C7;
}

/* header styling */

header {
  border-bottom: 1px solid rgb(58, 58, 60);
}
.title {
   color: gainsboro;
   font-size: 2.5rem;
   font-weight: bold;
   margin: 0.4rem 0 0.4rem 0;
   text-align: center;
   text-shadow: 2px 2px 3px #66FCF1;
 }

 .menu-left {
   display: flex;
   padding: 0;
   align-items: center;
   width: auto;
   justify-content: flex-start;
   color: gainsboro;
   font-size: 1.5rem;
   margin: 5px;
 }
 
 .menu-right {
   display: flex;
   width: auto;
   justify-content: flex-end;
   align-items: center;
   font-size: 1.5rem;
   margin: 5px;
   color: gainsboro;
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    background-color: #92D0CC;
    color: black;
    padding: 3px;
    border-radius: 5px;
 }
/* Main styling */
#container {
  display: flex;
  background-color: black;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#game {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}


/* guess tile styling */

.guess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: .25em;
  margin-bottom: 1em;
}

.tile {
  font-size: 2em;
  color: white;
  border: .05em solid #45A29E;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}
/* working on tile color changes, there's JS to this that I need to figure out */
.tile[data-state="active"]{
  border-color:#92D0CC;
}

.tile[data-state="wrong"] {
  border: none;
  background-color: #747475;
}

.tile[data-state="correct"]{
  border: none;
  background-color: #92D0CC;
  color:#0B0C10;
}

.tile[data-state="wrong-location"]{
  border:none;
  background-color: #C21BA3;
  color:#0B0C10;
}

/* animation workings, there's JS to this that I need to figure out  */
/* for correct word */
.tile.dance {
  animation: dance 500ms ease-in-out;
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }  
  40% {
    transform: translateY(5%);
  }  
  60% {
    transform: translateY(-25%);
  }  
  80% {
    transform: translateY(2.5%);
  }  
  90% {
    transform: translateY(-5%);
  }  
  100% {
    transform: translateY(0);
  }
}

/* for wrong word */
.tile.shake{
  animation: shake 250ms ease-in-out;
}
@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

/* for after each guess */
.tile.flip{
  transform: rotateX(90deg);
}

/* keyboard Styling */

#keyboard-container {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: .25em;
  justify-content: center;
  
}
.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C5C6C7;
  color: black;
  border-radius: .25em;
  cursor: pointer;
  user-select: none;
}

.wide-button {
  cursor: pointer;
  font-size: inherit;
  background-color: #C5C6C7;
  grid-column: span 3;
  width: max-content;
  border-radius: .25em;
}

.key:hover {
  background-color: #70819B;
  color: #C21BA3;
}
.wide-button:hover{
  background-color: #70819B;
  color: #C21BA3;
}


main {
  margin-bottom: 30px;
  padding-bottom: 20px;
}
/* footer Styling */
.foot-left{
  display: flex;
  margin: 5px;
  padding: 2px;
  align-items: center;
  width: auto;
  justify-content: flex-start;
  color: gainsboro;
  font-size: 1.2rem;
}


.foot-mid {
  color: gainsboro;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
}

.foot-right{
  display: flex;
  padding: 2px;
  align-items: center;
  width: auto;
  justify-content: flex-end;
  font-size: 1.2rem;
  color: gainsboro;
}